@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Press+Start+2P&family=Roboto:wght@700&display=swap');
/* Corpo da pagina Inteiro */
/* Paleta de cores: #4d518c azul #ff9300 amarelo #e05555 vermelho #242424 preto*/
html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #242424;
    font-family: 'Press Start 2P', cursive;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Parte do NavBar */
.header{
    display: flex;
    padding: 8px;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color: #31ff80;
}
.liHeader{
    text-decoration: none;
    color: rgb(252, 255, 68);
    transition: 0.5s;
}
.liHeader:hover{
transform: scale(1.3)
}

/* Parte principal do conteudo da pagina. */

.personagens{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:row;
    border-radius: 10px;
    border: 1px solid green;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 96%;
}
li{
    list-style: none;
}
#p1,#p2,#p3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f19300;
    width: 300px;
    border-radius: 10px;
}
img{
    transition: 0.5s;
    cursor: pointer;
    max-width: 400px;
}
/* animaçoes */
@keyframes neon {
    from{
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to {
        filter: drop-shadow(0 0 10px var(--cor-neon));
    }
}
img{
    animation: neon 1s alternate infinite ease-in-out;
}
.animationp1{
    --cor-neon: #31ff80;
}
.animationp2{
    --cor-neon: #31ff80;
}
.animationp3{
    --cor-neon: #31ff80;
}
img:hover{
    transform: scale(1.1)
}

/* ajuste fino */

#p1{
    transition: 0.2s;
}
#p2{
    background-color: #e05555;
    transition: 0.2s;
}
#p3{
    transition: 0.2s;
}
#p1:hover{
    transform: scale(1.01);
}
#p2:hover{
    transform: scale(1.01);
}
#p3:hover{
    transform: scale(1.01);
}
#p3{
    background-color: #4d518c;
}
#txt1,#txt2, #txt3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 10px;
    width: 100%;
    border-radius: 10px;
    height: 100px;
}
#txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}
/* botao do aleatorio */
.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    background: #4d518c;
    animation: neon 1s alternate infinite ease-in-out;
    --cor-neon: #ffffff;
}

/* media querry */

@media (max-width: 1000px)
{
    .personagens{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction:column;
        border-radius: 10px;
        border: 1px solid green;
    }
    #p1,#p2,#p3{
        margin-top: 50px;
    }
    #txt{
        display: flex;
        font-size: 0.5rem;
        flex-wrap: wrap;
    }
    a{
    display: flex;
    flex-direction: column;
    color: #31ff80;
    text-decoration: none;
    transition: 0.5s;
    }
    #txt{
    display: flex;
    /* background: #4d518c; */
    color: #f19300;
    font-size: max(0.6vh );
    }
.header{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 80px;
    }
}